@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500&family=Roboto:wght@400;500&display=swap');

:root {
  --black: #1d1d1d;
  --gray: #8c8c8c;
  --white: #f8f8f7; /* f8f8f7 */
}

input {
  all: unset;
}

html {
  font-family: 'Jost', sans-serif;
  font-weight: 400;
  background-color: var(--white);
}
/* menu page */
.gray-text {
  color: var(--gray);
}
.black-text {
  color: var(--black);
}
.bg {
  width: inherit;
  height: inherit;
  border-radius: inherit;
}
.card {
  @apply box-border;
}
.card:hover > .card__image {
  @apply border-opacity-100;
}
.card:hover > .card__button {
  @apply bg-[#FBE0DC];
}
.card_active > .card__image {
  @apply border-[#FBE0DC] border-opacity-100;
}
.card_active > .card__button {
  @apply bg-[#FF868E] text-white;
}
.card_active:hover > .card__button {
  @apply bg-[#FF868E] text-white;
}
.card__image {
  height: 198px;
  width: 138px;
  margin-bottom: 10px;
  @apply flex justify-center items-center rounded-[20px] border-4 border-white border-opacity-60;
}
.card__button {
  @apply text-center font-medium py-[10px] rounded-[18px] bg-white tracking-[2px] text-[#FF868E];
}
.card__voting > .card__image {
  background-color: #b4b7ff;
}
.card__breeds > .card__image {
  background-color: #97eab9;
}
.card__gallery > .card__image {
  background-color: #ffd280;
}

/* action panel */
.search {
  @apply bg-white w-[470px] rounded-[20px] p-[10px] flex items-center  justify-between;
}
.search__button {
  @apply w-[40px] h-[40px] flex justify-center items-center bg-[#FBE0DC] rounded-[10px];
}
.reaction-icons {
  @apply bg-white hover:bg-[#FBE0DC] w-[60px] h-[60px] rounded-[20px] flex justify-center items-center;
}
.reaction-icons_active {
  @apply bg-white hover:bg-[#FBE0DC] w-[60px] h-[60px] rounded-[20px] flex justify-center items-center;
}

/* content section */

.content {
  @apply h-[782px] w-[680] mt-[10px] rounded-[20px] bg-white p-[20px];
}
.button-back {
  @apply w-[40px] h-[40px] flex justify-center items-center bg-[#FBE0DC] rounded-[10px];
}
.current {
  @apply w-[146px] tracking-[2px] text-[20px] font-medium text-white flex justify-center items-center bg-[#FF868E] ml-[10px] rounded-[10px];
}
/* voting page */

.voting__image {
  @apply w-[640px] h-[360px] mt-[20px];
}
.voting__frame {
  @apply top-[-44px] left-[196px] flex justify-center rounded-[20px] border-4 border-white w-[248px] h-[88px];
}
.voting__icon {
  @apply flex justify-center items-center w-[80px] h-[80px];
}
.voting__logs {
  @apply mt-[52px];
}
.voting__action {
  @apply flex flex-row py-[15px] px-[15px] bg-[#F8F8F7] rounded-[10px] mb-[10px];
}
.voting__time {
  @apply w-[61px] h-[30px] bg-white rounded-[5px] flex justify-center items-center px-[10px] py-[3px];
}
.voting__text {
  @apply ml-[20px] flex justify-center items-center;
}
.voting__reaction {
  @apply ml-auto mr-[5px] flex justify-center items-center;
}

/* breeds page*/

.breeds__input {
  @apply bg-[#F8F8F7] rounded-[10px] flex justify-center items-center w-[226px];
}
.limit__input {
  @apply bg-[#F8F8F7] rounded-[10px] flex justify-center items-center w-[101px];
}
.breeds__sort {
  @apply bg-[#F8F8F7] rounded-[10px] flex justify-center items-center w-[40px];
}
.rotate-arrow {
  @apply rotate-180;
}
